/******** PADDING VERTICAL *********/

.padding-vr-50
	padding-top 50px
	padding-bottom 50px
.padding-vr-40
	padding-top 40px
	padding-bottom 40px
.padding-vr-30
	padding-top 30px
	padding-bottom 30px
.padding-vr-20
	padding-top 20px
	padding-bottom 20px
.padding-vr-10
	padding-top 10px
	padding-bottom 10px
	
/******* PADDING TOP **********/

.pad-top-50
	padding-top 50px
.pad-top-40
	padding-top 40px
.pad-top-30
	padding-top 30px
.pad-top-20
	padding-top 20px
.pad-top-10
	padding-top 10px
	
/******* PADDING BOTTOM **********/

.pad-bot-50
	padding-bottom 50px
.pad-bot-40
	padding-bottom 40px
.pad-bot-30
	padding-bottom 30px
.pad-bot-20
	padding-bottom 20px
.pad-bot-10
	padding-bottom 10px
	
/******** MARGIN VERTICAL *********/

.margin-vr-50
	margin-top 50px
	margin-bottom 50px
.margin-vr-40
	margin-top 40px
	margin-bottom 40px
.margin-vr-30
	margin-top 30px
	margin-bottom 30px
.margin-vr-20
	margin-top 20px
	margin-bottom 20px
.margin-vr-10
	margin-top 10px
	margin-bottom 10px
	
/******** MARGIN TOP *********/

.margin-top-50
	margin-top 50px
.margin-top-40
	margin-top 40px
.margin-top-30
	margin-top 30px
.margin-top-20
	margin-top 20px
.margin-top-10
	margin-top 10px
	
/******** MARGIN BOTTOM *********/

.margin-bottom-50
	margin-bottom 50px
.margin-bottom-40
	margin-bottom 40px
.margin-bottom-30
	margin-bottom 30px
.margin-bottom-20
	margin-bottom 20px
.margin-bottom-10
	margin-bottom 10px
	
